color-code = #23ACA2/* Hatsune_Miku: saturate(#39c5bb - 18.5%, 19.6%) */;
color-code = #91C132/* Heanna_Sumire: desaturate(#74f466 - 29.77%, 32%) */;
color-code = #F1A926/* Kagamine_Rin: desaturate(#ffa500 + 9.4%, 12%); (#f1cc26)Tenma_Saki: desaturate(#fd4 - 13.6%, 12%); */;
color-code = #E82D2D/* Yuezheng_Ling: #e00 */;
color-code = #1AABA0/* Hatsune_Miku: saturate(#39c5bb - 22.44%, 33%) */;
color-code = #E1143E/* Megurine_Luka: desaturate(#faafbe - 42.35%, 5.6%) */;
color-code = #298AC1/* Hoshino_Ichika: desaturate(#3ae - 19%, 23%); (#298ec1)Luo_Tianyi: desaturate(#6cf - 34.45%, 35%); */;
color-code = #1BA2E6/* Luo_Tianyi: desaturate(#6cf - 28%, 20%); (#1b9ce6)Hoshino_Ichika: desaturate(#3ae - 11.07%, 6%); */;
color-code = #9FA0A0/* Cyan */;
color-code = #E30B0B/* Yuezheng_Ling: #e00 */;
color-code = #A333A3/* Xin_Hua: #ee82ee */;
